.container {
    max-width: 1000px;
    width: 80vw;
}
.container1 {
    max-width: 1300px;
    width: calc(100% - 4em);
    margin-inline: auto;
}
@media (max-width: 600px) {
    .container,
    .container1 {
        width: 85%;
    }
}

h1 {
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    @media (max-width: 700px) {
        font-size: 40px;
        line-height: 48px;
    }
}
h2 {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    @media (max-width: 700px) {
        font-size: 20px;
        line-height: 24px;
    }
}
h3 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    @media (max-width: 700px) {
        font-size: 15px;
        line-height: 18px;
    }
}
p {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    @media (max-width: 700px) {
        font-size: 10px;
        line-height: 15px;
    }
}

.header-home {
    height: 90svh;
    width: 100%;
    max-height: 800px;

    .item-slide {
        display: block;
        background-color: white;
        height: 7px;
        width: 7px;
        border-radius: 3em;
        border: 2px solid var(--gelap);
        cursor: pointer;
        transition: 0.2s;
        outline: 1px solid rgba(255, 255, 255, 0);

        &:hover {
            transition: 0.2s;
            border: 2px solid white;
            outline: 1px solid white;
        }

        &.active {
            transition: 0.2s;
            outline: 1px solid rgba(255, 255, 255, 0.7);
        }
    }

    .content {
        height: 90svh;
        max-height: 800px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;

        .judul {
            font-size: 40px;
            line-height: 50px;
            font-weight: 500;
            max-width: 600px;
            text-align: center;
        }
        .sub-judul {
            font-size: 15px;
            line-height: 30px;
            max-width: 600px;
            font-weight: 500;
            text-align: center;
            color: rgb(209, 209, 209);
        }
    }
    .gambar {
        height: 90svh;
        max-height: 800px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.header-page {
    height: 40svh;
    width: 100%;
    max-height: 800px;

    .content {
        padding-top: 70px;
        height: 40svh;
        max-height: 800px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;

        .judul {
            font-size: 40px;
            line-height: 50px;
            font-weight: 500;
            max-width: 600px;
            text-align: center;
        }
        .sub-judul {
            font-size: 20px;
            line-height: 30px;
            max-width: 600px;
            font-weight: 500;
            text-align: center;
            color: rgb(209, 209, 209);
        }
    }
    .gambar {
        height: 40svh;
        max-height: 800px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 2.5em;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s;

    &.icon {
        padding: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        transition: 0.2s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: var(--gelap);
            transition: 0.2s;
        }
    }

    &:hover {
        gap: 2em;
        transition: 0.2s;
    }

    &.lonjong {
        border-radius: 3em;
    }
    &.putih {
        background-color: white;
        color: var(--gelap);
        transition: 0.2s;

        &:hover {
            background-color: var(--gelap);
            color: white;
            transition: 0.2s;
        }
    }
    &.terang {
        background-color: var(--terang);
        color: white;
        transition: 0.2s;

        &:hover {
            background-color: var(--gelap);
            transition: 0.2s;
        }
    }
    &.outline-putih {
        color: white;
        border: 1px solid white;
        transition: 0.2s;

        &:hover {
            background-color: white;
            color: var(--gelap);
            transition: 0.2s;
        }
    }
    &.outline-terang {
        color: var(--terang);
        border: 1px solid var(--terang);
        transition: 0.2s;

        &:hover {
            background-color: white;
            color: var(--gelap);
            transition: 0.2s;
        }
    }
}

nav {
    width: 100%;
    z-index: 99;
    color: white;
    transition: 0.2s;

    .atas {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 10px;
        font-weight: 200;
        @media (max-width: 700px) {
            display: none;
        }
    }
    .bawah {
        width: 100%;
        img {
            height: 20px;
        }

        .icons {
            display: flex;
            flex: 1;
            justify-content: center;

            a {
                padding: 1.2em 1em;
                font-size: 12px;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                transition: 0.3s;
                font-weight: 500;

                &:hover {
                    border-bottom: 1px solid white;
                    transition: 0.3s;
                }
            }
            @media (max-width: 700px) {
                position: fixed;
                top: 0;
                right: 0;
                width: 0%;
                overflow: hidden;
                height: 100svh;
                padding-block: 3em;
                flex-direction: column;
                align-items: end;
                background-color: var(--gelap);
                padding-inline: 0em;
                transition: 0.3s;

                &.show {
                    width: 100%;
                    padding-inline: 3em;
                    transition: 0.3s;
                }
            }
        }
        @media (max-width: 700px) {
            padding-block: 1em;
        }
    }

    &.transparent {
        opacity: 1;
        transition: 0.2s;
        // z-index: 2;
        z-index: 101;
        &.hide {
            z-index: 100;
            // z-index: 1;
            opacity: 0;
            transition: 0.2s;
        }
    }
    &.gelap {
        background-color: var(--gelap);
        opacity: 0;
        transition: 0.2s;
        // z-index: 1;
        z-index: 100;
        &.show {
            z-index: 101;
            // z-index: 2;
            opacity: 1;
            transition: 0.2s;
        }
    }
}

.hidden-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

.container-slide-artikel {
    display: flex;
    height: fit-content;
    @media (max-width: 700px) {
        padding-inline: 5em;
        padding-block: 1em;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .item {
        display: block;
        aspect-ratio: 3 / 4;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        height: 100%;
        position: relative;
        @media (max-width: 700px) {
            // width: 400px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;
            scroll-snap-align: center;
        }

        .content {
            border-radius: 1em;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .judul {
                font-weight: bold;
                font-size: 30px;
            }
            @media (max-width: 1200px) {
                .judul {
                    font-size: 25px;
                }
            }
            @media (max-width: 1000px) {
                .judul {
                    font-size: 20px;
                }
            }
            @media (max-width: 850px) {
                .judul {
                    font-size: 15px;
                }
            }

            .deskripsi {
                font-size: 10px;
                opacity: 0.8;
            }
            a {
                padding-block: 5px;
                display: flex;
                gap: 1em;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                width: fit-content;
                font-size: 13px;
                transition: 0.3s;
                &:hover {
                    border-bottom: 1px solid white;
                    transition: 0.3s;
                }
            }
        }

        .gambar {
            height: 100%;
            width: 100%;
            border-radius: 1em;

            img {
                border-radius: 1em;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

hr {
    &.terang {
        border-top: 1px solid var(--terang);
    }
    &.gelap {
        border-top: 1px solid var(--gelap);
    }
    &.putih {
        border-top: 1px solid white;
    }
}

.container-negara {
    width: 100%;
    height: 70svh;
    max-height: 500px;
    position: relative;

    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        background-color: #1d212e83;

        .anak-content {
            width: 100%;
            height: 100%;
            position: relative;

            .isi {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 6;

                .anak-isi {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;

                    .item {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        scale: 1;
                        opacity: 0;
                        transition: 0.8s;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &.active {
                            scale: 1.2;
                            opacity: 1;
                            transition: 0.8s;
                        }
                    }
                }
            }

            .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 7;
                display: flex;
                align-items: end;
                justify-content: center;

                span {
                    cursor: pointer;
                    display: block;
                    height: 7px;
                    width: 20px;
                    border-radius: 3em;
                    background-color: rgba(255, 255, 255, 0.151);
                    transition: 0.3s;
                    &:hover {
                        background-color: white;
                        transition: 0.3s;
                    }
                    &.active {
                        background-color: white;
                        width: 80px;
                    }
                }
            }

            .background {
                background-image: linear-gradient(
                    to bottom,
                    var(--gelap),
                    transparent
                );
                width: 100%;
                height: 50%;
            }
        }
    }

    .gambar {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            z-index: 4;
            height: 100%;
            width: 100%;
            scale: 1;
            opacity: 0;
            object-fit: cover;
            transition: 1s;

            &.active {
                scale: 1.2;
                opacity: 1;
                transition: 1s;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;

    .content {
        width: 100%;
    }

    a {
        display: block;
        font-size: 12px;
        color: var(--biru);
        text-wrap: nowrap;
    }

    img {
        height: 30px;
    }
}

.formulir {
    label {
        display: block;
        font-size: 13px;
        font-weight: 500;
    }
    input,
    textarea {
        border-width: 1px;
        border-style: solid;
        padding: 0.7em 1.2em;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
            border-width: 1px;
            border-style: solid;
        }

        &.bggelap {
            border-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.float-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: var(--gelap1);
    color: var(--gelap);
    z-index: 6;
    padding: 0.3em;
    border-radius: 3em;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    button,
    a {
        width: 50px;
        height: 50px;
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: 0.2s;
        cursor: pointer;
        overflow: hidden;

        &.expand {
            width: 0px;
            height: 0px;
        }

        &:hover {
            background-color: var(--gelap);
            transition: 0.2s;
        }
    }
    &:hover {
        .expand {
            width: 50px;
            height: 50px;
        }
    }
}

.baris-ke-kolom {
    display: flex;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}
.kolom-ke-baris {
    display: flex;
    flex-direction: column;
    @media (max-width: 700px) {
        flex-direction: row;
    }
}

.message-form {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 0.5em 1em;
    border-radius: 10px;
}

.admin-navbar {
    width: 270px;
    padding: 1.5em 2em;
    background-color: var(--gelap);
    color: white;
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        gap: 2em;
        // background-color: aqua;
        padding-block: 0.5em;
        padding-left: 0.2em;
        transition: 0.2s;

        &.active {
            background-color: var(--terang);
            color: white;
            justify-content: center;
            transition: 0.2s;
        }

        &:hover {
            padding-left: 1.5em;
            border-left: 3px solid white;
            transition: 0.2s;

            &.active {
                padding-left: 0.2em;
                border: none;
            }
        }
    }
}

.alert {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 0px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    z-index: 5;

    .sub {
        height: fit-content;
        width: fit-content;
        background-color: white;
        padding: 1em 2em;
        border-radius: 1em;
        z-index: 3;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-120px);
        transition: 0.2s;
    }

    &.show {
        .sub {
            transform: translateY(20px);
            transition: 0.2s;
        }
    }
}

.modal-order-admin {
    text-wrap: nowrap;
    position: fixed;
    right: 0;
    top: 0;
    height: 100svh;
    width: 40vw;
    max-width: 0px;
    background-color: white;
    z-index: 3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    overflow-x: hidden;

    &.show {
        max-width: 340px;
        transition: 0.2s;
    }
}

.pagination {
    display: flex;
    align-items: center;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        cursor: default;
        color: rgb(134, 134, 134);
        font-size: 13px;
        transition: 0.3s;
        border-radius: 3em;

        &:hover {
            color: var(--ungu);
            font-weight: 500;
            transition: 0.3s;
        }

        &.active {
            background-color: var(--ungu);
            color: white;
            transition: 0.3s;
            width: 23px;
            height: 23px;
        }
    }
}

.table-admin {
    width: 100%;

    thead {
        position: sticky;
        top: 0;
        color: var(--gelap);
        background-color: #f4edff;
        z-index: 2;

        th {
            text-align: start;
            font-size: 13px;
            font-weight: 500;
            padding: 0.5em 1.2em;
        }
    }
    tbody {
        color: var(--gelap1);
        tr {
            td {
                font-size: 13px;
                padding: 0.5em 1.2em;
            }

            &:hover {
                background-color: #faf7ff;
            }
        }
    }

    img {
        display: block;
        width: 80px;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn {
        color: var(--gelap);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 3em;
        transition: 0.2s;
        &:hover {
            background-color: #f4edff;
            color: var(--terang);
            transition: 0.2s;
        }
    }
}

.container-tags-admin {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    .btn-tambah {
        color: var(--ungu);
        background-color: #f5eadf;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        &:hover {
            background-color: #e6cfb7;
        }
    }

    .item {
        display: flex;
        align-items: center;
        color: var(--ungu);
        background-color: #f5eadf;
        padding: 0.2em 1em;
        border-radius: 3em;
        gap: 1em;

        select {
            appearance: none;
            font-size: 14px;
            &:focus {
                border: none;
                outline: none;
            }
        }
        span {
            display: block;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                transform: rotate(90deg);
                transition: 0.2s;
            }
        }
    }
}

.input-gambar-admin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 2px dashed gray;
    flex-direction: column;
    color: gray;
    gap: 0.5em;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.2s;

    p {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .hover-img {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        color: var(--gelap);
        z-index: 2;
        filter: opacity(0);
        transition: 0.2s;
    }
    img {
        border-radius: 1em;
        object-fit: cover;
        width: 100%;
        transition: 0.2s;
        filter: saturate(1) opacity(1);
        aspect-ratio: 1 / 1;
    }
    &:hover {
        border: 2px dashed var(--terang);
        gap: 1em;
        transition: 0.2s;
        color: var(--gelap);

        img {
            transition: 0.2s;
            filter: saturate(0.2) opacity(0.2);
        }
        .hover-img {
            transition: 0.2s;
            filter: opacity(1);
        }
    }
}

.formulir {
    label {
        display: block;
        color: var(--gelap);
        font-weight: 500;
        font-size: 12px;
    }
    input,
    select,
    textarea {
        width: 100%;
        display: block;
        border: none;
        border-bottom: 2px solid rgb(211, 211, 211);
        appearance: none;
        padding-block: 0.5em;
        font-size: 15px;
        transition: 0.2s;

        &:focus {
            transition: 0.2s;
            border: none;
            border-bottom: 2px solid var(--gelap);
            outline: none;
        }
        &:valid {
            color: var(--gelap);
            border: none;
            border-bottom: 2px solid var(--gelap);
        }
    }
    select {
        color: #858585;
        &:focus {
            color: var(--biru);
        }
    }
}

.header-article-list {
    height: 40svh;
    width: 100%;
    min-height: 400px;
    background-color: var(--terang);
    color: white;
    padding-block: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        padding-top: 20px;
        height: 40svh;
        max-height: 800px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;

        .judul {
            font-size: 100px;
            line-height: 80px;
            font-weight: 500;
            max-width: 500px;
            // text-align: right;
        }
        .sub-judul {
            font-size: 20px;
            line-height: 30px;
            max-width: 600px;
            font-weight: 500;
            text-align: center;
        }
    }
}

.container-article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .item {
        background-color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        // height: 500px;
        &.gelap {
            background-color: var(--gelap);
            color: white;
        }

        .gambar {
            width: 100%;
            height: 150px;
            transition: 0.2s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            padding: 1.2em 2em;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .deskripsi {
            max-height: 0px;
            overflow: hidden;
            transition: 0.2s;
        }
        &:hover {
            .gambar {
                height: 100px;
                transition: 0.2s;
            }
            .deskripsi {
                max-height: 100px;
                transition: 0.2s;
                overflow: hidden;
            }
        }
    }
}
